[submodule "themes/hugo-theme-learn"]
	path = themes/hugo-theme-learn
	url = https://github.com/matcornic/hugo-theme-learn.git
[submodule "pandoc"]
	path = pandoc
	url = https://github.com/cagix/pandoc-lecture
[submodule "archetypes"]
	path = archetypes
	url = https://github.com/cagix/Hugo-Lecture-Archetypes
[submodule "layouts"]
	path = layouts
	url = https://github.com/cagix/Hugo-Lecture-Layouts
